@import "../../varibales";

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  display: flex;
  flex-direction: column;
}

.text{
  font-style: normal;
}