.root {
  min-height: 100vh;
  background: #D93E30;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-style: normal;
  font-weight: bold;
  font-size: 700px;
  line-height: 818px;
  display: flex;
  align-items: center;
  letter-spacing: 4px;

  color: rgba(0, 0, 0, 0.5);
}

.layout {
  position: absolute;
}